@{
    ViewBag.Title = "sweetiedash";
}

@helper BigNumber(object description, object number)
{
    <h2>@number</h2>
    <p>@description</p>
}

@helper Panel(string extraClass, object content)
{
    <div class="@extraClass panel panel-default">
        <div class="panel-body">
            @content
        </div>
    </div>
}

<div class="row jumbotron" style="background-repeat:no-repeat; background-position: right 120px bottom -20px; background-image: url('@Url.Content("~/Content/celestiawhy.png")')">
    <h1 style="float:left; text-shadow: 0 0 10px #EEE, 0 0 10px #EEE, 0 0 10px #EEE;"> sweetiebot dashboard </h1>
    <p style="float:right; margin-top: 40px;"><a href="@ViewBag.Target"> raw data </a></p>
</div>

<div class="row">
    @Panel("col-md-4", @BigNumber("total messages processed", @ViewBag.Model.total))
    @Panel("col-md-4", @BigNumber(":lunabeh:s", @ViewBag.Model.lunabehs))
    @Panel("col-md-4", @BigNumber("sweetiebot replies", @ViewBag.Model.sweetreply))
</div>

@helper hod() {<div id="hod"><h2>messages by hour of day</h2></div>}
@helper deowls() {<div id="deowls"><h2>deowls</h2></div>}
@helper deowlfails() {<div id="deowlfails"><h2>failed deowls</h2></div>}
@helper topspeakers() {<div id="topspeakers"><h2>top speakers</h2></div>}
@helper topemotes() {<div id="topemotes"><h2>top emotes</h2></div>}

<div class="row">
    @Panel("col-md-12", @hod())
</div>

<div class="row">
    @Panel("col-md-6", @topspeakers())
    @Panel("col-md-6", @topemotes())
</div>

<div class="row">
    @Panel("col-md-6", @deowls())
    @Panel("col-md-6", @deowlfails())
</div>

<div class="row" style="font-size:small">
    <div class="panel panel-default">
        <div class="panel-body">
            <p><a href="http://www.derpibooru.org/18592?scope=scpe58c7583e64cd54630564221c3ac8d7630315d8bb">image credit</a> / <a href="https://github.com/nyctef">github sources</a></p>
        </div>
    </div>
</div>

@section scripts {
    <script>barChart("#hod", @(Html.Raw(@ViewBag.Model.byHOD.ToString())) )</script>
    <script>barChart("#deowls", @Html.Raw(@ViewBag.Model.deowls.ToString()), 500, true)</script>
    <script>barChart("#deowlfails", @Html.Raw(@ViewBag.Model.deowlfails.ToString()), 500, true )</script>
    <script>barChart("#topspeakers", @Html.Raw(@ViewBag.Model.bySpeaker.ToString()), 500, true )</script>
    <script>barChart("#topemotes", @Html.Raw(@ViewBag.Model.emotes.ToString()), 500, true )</script>
}
